<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Phillies Flowers</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1 th:text="#{index.title}">Default Title</h1>
		<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
		
		<p>Click <a th:href="@{/orders/}">here</a> to go to the open orders page.</p>
		
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
	</body>
</html>