<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Phillies Flowers Home Page</title>        
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p>Language:<a href="/?lang=fr">French</a> | <a href="/?lang=en">English</a></p>

        <p>Click <a th:href="@{/admin}">here</a> to go to the administration page.</p>
        <p>Click <a th:href="@{/}">here</a> to start shopping!</p>
        
        <p>For all your flower needs for weddings, funerals, valentines day or any special occasion!</p>
    </body>
</html>